{% if page.title %} {% assign page_title = page.title | append: " &ndash; " |
append: site.title %} {% else %} {% assign page_title = site.title %} {% endif
%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ page_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/assets/main.css" />
  </head>
  <body>
    {{ content }}

    <script src="/assets/js/main.js"></script>
  </body>
</html>
